<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <base href="/">
        <script src="/socket.io/socket.io.js"></script>

        <link href="css/style.css" rel="stylesheet">
        <script src="app.js"></script>
        <script src="require.js"></script>
        <script src="util.js"></script>
    </head>
    <body>
      <div id="content"></div>
        <script>
display = require("./display");
rx = require("./rx")(display);
Mouse = require("./mouse");
Key = require("./key");
Time = require("./time");
htags = require("./htags");
htags.import();
        </script>
        <script src="<%= projectname+'/'+projectname %>.js"></script>
        <script>
//document.body.appendChild(main)
display.update();
        </script>
        <!--
        <script src="terminal.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="0.js"></script>
        <script src="main.js"></script>
        <script src="require.js"></script>
        <script src="bundle.js"></script>
        -->
    </body>
</html>
